{
	global: {
		logdirectory: "logs",
		dbdirectory: "db",
		dbbackupdirectory: "db_backup",
		istestmode: false
	},
	twitch: {
		user: "",
		oauthtoken: "",
		adminchannel: "",
		adminuserid: 0
	},
	hota: {
		serveraddress: "",
		serverport: 0,
		user: "",
		password: "",
		clientversion: ""
	}
}